body {
    margin: 0;
    padding: 0;
}
.map {
    width: 100%;
    height: 100vh; /* کل ارتفاع صفحه */
}
#search-container {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1000; /* روی نقشه قرار بگیرد */
    background: white;
    padding: 10px;
    border-radius: 5px;
}
